---
import { getCollection } from "astro:content";

import BaseLayout from "@layouts/BaseLayout.astro";

import Post from "@components/Post.astro";
import Seo from "@components/Seo.astro";
import Footer from "@components/Footer.astro";

const posts = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout>
  <Seo slot="head" title="Blog" />
  <h1 class="animate mb-4">Blog</h1>
  <section class="animate flex-1">
    <ul class="grid list-none gap-2 p-0">
      {posts.map((post) => <Post post={post} />)}
    </ul>
  </section>
  <Footer />
</BaseLayout>
