@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light dark;

    --light-mode-background: 240 240 240;
    --light-mode-foreground: 0 0 0;
    --light-mode-foreground-muted: 50 50 50;
    --dark-mode-background: 10 10 10;
    --dark-mode-foreground: 255 255 255;
    --dark-mode-foreground-muted: 205 205 205;
  }

  body {
    background-color: light-dark(
      rgb(var(--light-mode-background)),
      rgb(var(--dark-mode-background))
    );
  }

  table {
    @apply border-collapse;
  }

  table thead th,
  table tfoot th {
    background-color: light-dark(
      rgb(var(--dark-mode-foreground-muted)),
      rgb(var(--light-mode-foreground-muted))
    );
  }

  table th,
  table td {
    border: 1px solid;
    border-color: light-dark(
      rgb(var(--light-mode-foreground-muted)),
      rgb(var(--dark-mode-foreground-muted))
    );
    padding: 2px 7px !important;
  }

  blockquote {
    border-inline-start: solid 0.2rem;
    border-inline-start-color: light-dark(
      rgb(var(--light-mode-foreground-muted)),
      rgb(var(--dark-mode-foreground-muted))
    ) !important;
  }

  /* kbd:has(kbd) {
    box-shadow: none !important;
  } */

  .border {
    border: 1px solid;
  }
}
