@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Theme Variables
  ----------------------------------------- */
  :root {
    --light-mode-background: 240 240 240;
    --light-mode-foreground: 0 0 0;
    --light-mode-foreground-muted: 50 50 50;
    --dark-mode-background: 10 10 10;
    --dark-mode-foreground: 255 255 255;
    --dark-mode-foreground-muted: 205 205 205;
    --border-color: light-dark(
      rgb(var(--light-mode-foreground-muted)),
      rgb(var(--dark-mode-foreground-muted))
    );
  }

  /* Base HTML Elements
  ----------------------------------------- */
  html {
    overflow-y: auto;
    color-scheme: light;
    scroll-padding-top: 100px;
  }

  html.dark {
    color-scheme: dark;
  }

  body {
    background-color: light-dark(
      rgb(var(--light-mode-background)),
      rgb(var(--dark-mode-background))
    );
  }

  a {
    color: inherit;
  }

  code {
    @apply break-words;
  }

  ::selection {
    @apply bg-[rebeccapurple] text-white;
  }

  /* Typography & Content Styles
  ----------------------------------------- */
  .prose table {
    @apply border-collapse shadow-md dark:shadow-white/15;
  }

  .prose table thead th,
  .prose table tfoot th {
    background-color: light-dark(
      rgb(var(--dark-mode-foreground-muted)),
      rgb(var(--light-mode-foreground-muted))
    );
  }

  .prose table th,
  .prose table td {
    border: 1px solid var(--border-color);
    padding: 2px 7px !important;
  }

  .prose blockquote {
    border-inline-start: solid 0.2rem var(--border-color);
  }

  /* Code Block Styles
  ----------------------------------------- */
  .prose pre {
    @apply dark:border;
  }

  @media (max-width: 625px) {
    .prose pre {
      width: 100vw;
      margin-left: 50%;
      transform: translateX(-50%);
      @apply rounded-none dark:border-none;
    }
  }

  .copy-code {
    @apply absolute right-2 top-2 grid size-8 cursor-pointer place-content-center rounded border border-white/50 bg-neutral-700 text-center duration-300 ease-in-out dark:bg-neutral-900;
  }

  .copy-code:hover {
    @apply bg-[#E9E9E9] transition-colors dark:bg-[#232323];
  }

  .copy-code:active {
    @apply scale-90 transition-transform;
  }

  /* Utility Classes
  ----------------------------------------- */
  .border {
    border: 1px solid var(--border-color);
  }

  .animate {
    @apply -translate-y-3 opacity-0;
    @apply transition-transform duration-300 ease-in-out;
  }

  .animate.show {
    @apply translate-y-0 opacity-100;
    @apply scale-100;
  }

  @media (prefers-reduced-motion: no-preference) {
    .animate {
      @apply transition-all; /* Ensure transitions are applied only if user prefers motion */
    }
  }

  /* Back to Top Button
  ----------------------------------------- */
  html #back-to-top {
    @apply pointer-events-none opacity-0;
  }

  html.scrolled #back-to-top {
    @apply pointer-events-auto opacity-100;
  }
}
