---
import Button from "@components/Button.astro";
import Icon from "@components/Icon.astro";
---

<Button
  variant="icon"
  group={true}
  id="back-to-top"
  title="Back to top"
  aria-label="Back to top"
  class="w-fit px-4 py-1.5"
>
  <Icon
    name="arrow-up"
    size="sm"
    class="absolute left-2 top-1/2 -translate-y-1/2 rotate-90 stroke-black stroke-2 group-hover:stroke-white dark:stroke-white group-hover:dark:stroke-black"
  />
</Button>
