---
import NavLink from "@widgets/NavLink.astro";

const { prevPost, nextPost } = Astro.props;
---

<div class="animate mt-8 grid grid-cols-2 gap-1.5 sm:gap-3">
  <NavLink post={prevPost} direction="prev" />
  <NavLink post={nextPost} direction="next" />
</div>
