---
import BaseLayout from "@/layouts/BaseLayout.astro";

import SeoPage from "@/components/SeoPage.astro";
import Button from "@/components/Button.astro";
---

<BaseLayout>
  <SeoPage slot="head" />
  <h2 class="font-semibold text-2xl animate">404: Page not found</h2>
  <p class="my-6 animate">
    Sorry, but the page you are trying to visit does not exist.
  </p>
  <Button href="/">Go to home page</Button>
</BaseLayout>
