---
import BaseLayout from "@/layouts/BaseLayout.astro";

import SeoPage from "@/components/SeoPage.astro";
import Button from "@/components/Button.astro";
---

<BaseLayout>
  <SeoPage slot="head" />
  <h2 class="animate text-2xl font-semibold">404: Page not found</h2>
  <p class="animate my-6">
    Sorry, but the page you are trying to visit does not exist.
  </p>
  <Button href="/">Go to home page</Button>
</BaseLayout>
