---
import { SOCIAL_LINKS } from "@/siteConfig";

import BaseLayout from "@/layouts/BaseLayout.astro";
import SeoPage from "@/components/SeoPage.astro";

const socialLinksArray = Object.keys(SOCIAL_LINKS).map((key) => ({
  url: SOCIAL_LINKS[key].url,
  label: SOCIAL_LINKS[key].label,
}));
---

<BaseLayout>
  <SeoPage slot="head" title="Contact" />
  <h2 class="mb-3 font-bold text-xl animate">Contact</h2>
  <section class="animate">
    <ul class="gap-2 grid p-0 list-none">
      {
        socialLinksArray.map((link) => (
          <li class="animate">
            <a
              href={link.url}
              target={link.url.startsWith("http") ? "_blank" : undefined}
              rel={
                link.url.startsWith("http") ? "noopener noreferrer" : undefined
              }
            >
              {link.label}
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayout>
