---
import { getCollection } from "astro:content";

import BaseLayout from "@/layouts/BaseLayout.astro";

import Introduction from "@/components/Introduction.astro";
import Post from "@/components/Post.astro";
import SeoPage from "@/components/SeoPage.astro";
import Button from "@/components/Button.astro";
import Footer from "@/components/Footer.astro";
import ContactMe from "@/components/ContactMe.astro";

const posts = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort(
    (a, b) =>
      b.data.publicationDate.valueOf() - a.data.publicationDate.valueOf(),
  );
---

<BaseLayout>
  <SeoPage slot="head" />
  <main>
    <Introduction />
    <hr class="animate my-6 border-[0.5px]" />

    <section class="animate mb-8">
      <h2 class="mb-3 text-lg font-bold">Blog posts</h2>
      <ul class="mb-8 grid list-none gap-2 p-0">
        {posts.slice(0, 8).map((post) => <Post post={post} />)}
      </ul>
      <Button href="/blog">More posts</Button>
    </section>
    <hr class="animate my-6 border-[0.5px]" />

    <ContactMe />

    <Footer />
  </main>
</BaseLayout>
