---
import { getCollection } from "astro:content";

import BaseLayout from "@/layouts/BaseLayout.astro";

import Post from "@/components/Post.astro";
import SeoPage from "@/components/SeoPage.astro";
import Button from "@/components/Button.astro";
import Footer from "@/components/Footer.astro";
import ContactMe from "@/components/ContactMe.astro";

const posts = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort(
    (a, b) =>
      b.data.publicationDate.valueOf() - a.data.publicationDate.valueOf(),
  );
---

<BaseLayout>
  <SeoPage slot="head" />
  <main>
    <section class="animate">
      <h1 class="animate mb-3 text-xl font-bold">Hi, I'm Miguel!</h1>
      <p class="animate">
        I’m a problem solver, hobby developer, music enthusiast, and public
        infrastructure advocate based in Minnesota, US. I’m passionate about
        using technology and creative thinking to tackle challenges, whether
        it's building better websites or designing efficient urban systems.
      </p>
      <br />
      <p class="animate">
        With a background in engineering project management and a self-taught
        love for coding, I enjoy blending my technical knowledge with
        curiosity-driven side projects. When I’m not working, you’ll find me
        learning new programming languages, experimenting with web development,
        or digging into the latest trends in public infrastructure.
      </p>
      <br />
      <p class="animate">
        I think a lot, work hard, occasionally have existential crises, and know
        just enough about making websites to make things interesting. While I
        love writing, coding, and listening to music, my true motivation lies in
        finding elegant solutions to complex problems.
      </p>
    </section>

    <hr class="animate my-6 border-[0.5px]" />

    <section class="animate mb-8">
      <h2 class="mb-3 text-lg font-bold">Blog posts</h2>
      <ul class="mb-8 grid list-none gap-2 p-0">
        {posts.slice(0, 8).map((post) => <Post post={post} />)}
      </ul>
      <Button href="/blog">More posts</Button>
    </section>

    <hr class="animate my-6 border-[0.5px]" />

    <ContactMe />

    <Footer />
  </main>
</BaseLayout>
