---
import { getCollection } from "astro:content";

import BaseLayout from "@/layouts/BaseLayout.astro";

import Introduction from "@/components/Introduction.astro";
import Post from "@/components/Post.astro";
import SeoPage from "@/components/SeoPage.astro";
import Link from "@/components/Link.astro";
import Footer from "@/components/Footer.astro";

const posts = (await getCollection("blog"))
.filter((post) => !post.data.draft)
.sort(
  (a, b) => b.data.publicationDate.valueOf() - a.data.publicationDate.valueOf()
);
---

<BaseLayout>
  <SeoPage slot="head" />
  <main>
    <Introduction />
    <hr class="border-[0.5px] my-6 animate" />

    <section class="mb-8 animate">
      <h2 class="mb-3 font-bold text-lg">Blog posts</h2>
      <ul class="gap-2 grid mb-8 p-0 list-none">
        {posts.slice(0, 8).map((post) => <Post post={post} />)}
      </ul>
      <Link href="/blog">More posts</Link>
    </section>
    <Footer />
  </main>
</BaseLayout>
