---
import { getCollection } from "astro:content";

import BaseLayout from "@/layouts/BaseLayout.astro";

import Introduction from "@/components/Introduction.astro";
import Post from "@/components/Post.astro";
import Project from "@/components/Project.astro";
import SeoPage from "@/components/SeoPage.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.publicationDate.valueOf() - a.data.publicationDate.valueOf()
);

const projects = await getCollection("projects");
---

<BaseLayout>
  <SeoPage slot="head" />
  <main>
    <Introduction />
    <hr class="border-[0.5px] opacity-50 my-8" />
    <h2 class="mb-3 font-bold text-lg">Blog posts</h2>
    <ul class="gap-2 grid p-0 list-none">
      {posts.slice(0, 5).map((post) => <Post post={post} />)}
    </ul>
    <a
      href="/blog"
      class="inline-flex items-center bg-transparent hover:bg-slate-700 shadow-sm mt-4 px-2 py-1 border rounded-md focus:ring focus:ring-slate-500 focus:ring-offset-2 font-medium text-sm focus:text-white no-underline transition-colors duration-150 focus:outline-none"
      >More posts</a
    >
    <h2 class="mt-8 mb-3 font-bold text-lg">Projects</h2>
    <ul class="gap-2 grid p-0 list-none">
      {projects.slice(0, 5).map((project) => <Project project={project} />)}
    </ul>
    <a
      href="/projects"
      class="inline-flex items-center bg-transparent hover:bg-slate-700 shadow-sm mt-4 px-2 py-1 border rounded-md focus:ring focus:ring-slate-500 focus:ring-offset-2 font-medium text-sm focus:text-white no-underline transition-colors duration-150 focus:outline-none"
      >More projects</a
    >
  </main>
</BaseLayout>
