---
import { getCollection } from "astro:content";

import BaseLayout from "@/layouts/BaseLayout.astro";

import Project from "@/components/Project.astro";
import SeoPage from "@/components/SeoPage.astro";
import Footer from "@/components/Footer.astro";

const projects = (await getCollection("projects")).sort((b, a) =>
  b.data.title.localeCompare(a.data.title),
);
---

<BaseLayout>
  <SeoPage slot="head" title="Projects" />
  <h1 class="animate mb-4">Projects</h1>
  <section class="animate flex-1">
    <ul class="grid list-none gap-2 p-0">
      {projects.map((project) => <Project project={project} />)}
    </ul>
  </section>
  <Footer />
</BaseLayout>
