---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Seo from "@/components/Seo.astro";
import Footer from "@/components/Footer.astro";
---

<BaseLayout>
  <Seo slot="head" title="Uses" />
  <h1 class="animate mb-4">Uses</h1>

  <section class="animate mb-4">
    <p>
      A non-comprehensive list of the hardware and software I use on a
      day-to-day basis.
    </p>
  </section>

  <section class="animate mb-4">
    <h2 class="mb-4">Hardware</h2>
    <ul>
      <li>
        <a
          href="https://www.notebookcheck.net/Lenovo-ThinkPad-T480s-20L8S02D00.294734.0.html"
          >Lenovo Thinkpad T480s</a
        > – Laptop
      </li>
      <li>
        <a
          href="https://www.logitech.com/en-us/products/mice/m575-ergo-wireless-trackball"
          >Logi M575</a
        > – Mouse
      </li>
      <li>
        <a
          href="https://info.skullcandy.com/Support?Dest=hc%2Fen-us%2Farticles%2F360034534854-Crusher-ANC-Wireless"
          >Skullcandy Crusher ANC</a
        > – Headphones
      </li>
      <li>
        <a href="https://en.wikipedia.org/wiki/Canon_EOS_7D">Canon EOS 7D</a> – Camera
      </li>
    </ul>
  </section>

  <section class="animate mb-4">
    <h2>Software</h2>
    <h3 class="my-4">Daily Drivers</h3>
    <ul>
      <li>
        <a href="https://obsidian.md/">Obsidian</a> – Markdown Text Editor
      </li>
      <li>
        <a href="https://code.visualstudio.com/">Visual Studio Code</a> – Code Editor
      </li>
      <li><a href="https://raindrop.io/">Raindrop</a> – Bookmarks Manager</li>
      <li>
        <a href="https://github.com/syncthing/syncthing">Syncthing</a> – Open source
        continuous file synchronization.
      </li>
      <li>
        <a href="https://github.com/espanso/espanso">Espanso</a> – Cross-platform
        text expander written in Rust.
      </li>
    </ul>
  </section>

  <section class="animate mb-4">
    <h3 class="my-4">Noteworthy Visual Studio Code Extensions</h3>
    <ul>
      <li>
        <a
          href="https://marketplace.visualstudio.com/items?itemName=esbenp.prettier-vscode"
          >Prettier</a
        > – Opinionated Code Formatter.
      </li>
      <li>
        <a
          href="https://marketplace.visualstudio.com/items?itemName=yzhang.markdown-all-in-one"
          >Markdown All in One</a
        > – Markdown Support.
      </li>
      <li>
        <a
          href="https://marketplace.visualstudio.com/items?itemName=Markwhen.markwhen"
          >Markwhen</a
        > – View/Edit Markwhen documents.
      </li>
      <li>
        <a
          href="https://marketplace.visualstudio.com/items?itemName=gera2ld.markmap-vscode"
          >Markmap</a
        > – Preview markdown files as Markmap.
      </li>
      <li>
        <a
          href="https://marketplace.visualstudio.com/items?itemName=vsls-contrib.gistfs"
          >GistPad</a
        > – Edit GitHub Gists and Repositories remotely.
      </li>
      <li>
        <a
          href="https://marketplace.visualstudio.com/items?itemName=alefragnani.project-manager"
          >Project Manager</a
        > – Easily change current Project/Folder.
      </li>
      <li>
        <a
          href="https://marketplace.visualstudio.com/items?itemName=ahgood.shift-shift"
          >shift shift</a
        > – Provides shortcuts for <code>shift + shift</code> and <code
          >ctrl + ctrl</code
        >.
      </li>
      <li>
        <a
          href="https://marketplace.visualstudio.com/items?itemName=pranaygp.vscode-css-peek"
          >CSS Peek</a
        > – Introduces <code>Go To Definition</code> and <code
          >Go To Symbol in Workspace</code
        > support.
      </li>
    </ul>
  </section>

  <section class="animate mb-4">
    <h3 class="my-4">Essential Obsidian Extensions</h3>
    <ul>
      <li>
        <a href="https://github.com/mgmeyers/obsidian-contextual-typography"
          >Contextual Typography</a
        > – Allows for custom insertion of code at the block level.
      </li>
      <li>
        <a href="https://github.com/Qwyntex/doubleshift">DoubleShift</a> – Provides
        shortcuts for <code>shift + shift</code> and <code>ctrl + ctrl</code>.
      </li>
      <li>
        <a href="https://github.com/timhor/obsidian-editor-shortcuts"
          >Editor Shortcuts</a
        > – Adds shortcuts usually found in Code Editors.
      </li>
      <li>
        <a href="https://github.com/ObsidianPublisher/obsidian-github-publisher"
          >GitHub Publisher</a
        > – Publish your notes to a preconfigured repository.
      </li>
      <li>
        <a href="https://github.com/platers/obsidian-linter">Linter</a> – Customizable
        Markdown Linter similar to Prettier.
      </li>
      <li>
        <a href="https://github.com/argenos/nldates-obsidian"
          >Natural Language Dates</a
        > – Adds <code>@today</code> format to dates.
      </li>
      <li>
        <a href="https://github.com/denolehov/obsidian-git">Obsidian Git</a> – Run
        Git commands from Obsidian.
      </li>
      <li>
        <a href="https://github.com/scambier/obsidian-omnisearch">Omnisearch</a>
        – Better Search Engine.
      </li>
    </ul>
  </section>

  <section class="animate mb-4">
    <h3 class="my-4">Notable Windows Programs</h3>
    <ul>
      <li>
        <a href="https://github.com/File-New-Project/EarTrumpet">EarTrumpet</a> –
        Volume control, multi-channel discovery, default playback device management.
      </li>
      <li>
        <a href="https://www.voidtools.com/">Everything</a> – Locate files and folders
        by name instantly.
      </li>
      <li>
        <a href="https://github.com/zhanghai/MaterialFiles">Material Files</a> –
        Material Design file manager for Android.
      </li>
      <li>
        <a href="https://github.com/torakiki/pdfsam">PDFsam</a> – Desktop application
        to split, merge, mix, rotate PDF files and extract pages.
      </li>
      <li>
        <a href="https://github.com/microsoft/PowerToys">PowerToys</a> – Windows
        system utilities to maximize productivity.
      </li>
      <li>
        <a href="https://github.com/QL-Win/QuickLook">QuickLook</a> – Bring macOS
        "Quick Look" feature to Windows.
      </li>
      <li>
        <a href="https://github.com/ChrisAnd1998/TaskbarX">TaskbarX</a> – Center
        Windows taskbar icons with a variety of animations and options.
      </li>
    </ul>
  </section>

  <section class="animate mb-4">
    <h3 class="my-4">Tools &amp; Technologies</h3>
    <ul>
      <li>
        <a href="https://github.com/alpinejs/alpine">Alpine.js</a> – A rugged, minimal
        framework for composing JavaScript behavior in your markup.
      </li>
      <li>
        <a href="https://github.com/11ty/eleventy">Eleventy</a> – A simpler site
        generator. Transforms a directory of templates (of varying types) into HTML.
      </li>
      <li>
        <a href="https://github.com/mozilla/nunjucks">Nunjucks</a> – A powerful templating
        engine with inheritance, asynchronous control. Made by Mozilla.
      </li>
      <li>
        <a href="https://github.com/tailwindlabs/tailwindcss">TailwindCSS</a> – Utility
        CSS framework without the predefined classes for elements.
      </li>
      <li>
        <a href="https://github.com/vitejs/vite">Vite</a> – Next generation frontend
        tooling. It's fast!
      </li>
    </ul>
  </section>
  <Footer />
</BaseLayout>
