---
import { SOCIAL_LINKS } from "@/siteConfig";

const socialLinksArray = Object.keys(SOCIAL_LINKS).map((key) => ({
  url: SOCIAL_LINKS[key].url,
  label: SOCIAL_LINKS[key].label,
}));
---

<h2 class="animate mb-4 text-lg">Reach out</h2>
<section class="animate flex-1">
  <ul class="grid list-none gap-2 p-0">
    {
      socialLinksArray.map((link) => (
        <li>
          <a
            href={link.url}
            target={link.url.startsWith("http") ? "_blank" : undefined}
            rel={
              link.url.startsWith("http") ? "noopener noreferrer" : undefined
            }
          >
            {link.label}
          </a>
        </li>
      ))
    }
  </ul>
</section>
