---
import ThemeToggle from "@widgets/ThemeToggle.astro";
import BackToTop from "@widgets/BackToTop.astro";
---

<footer class="animate">
  <hr class="my-6 border-[0.5px]" />
  <div class="flex justify-between">
    <div class="flex flex-wrap items-center gap-1.5">
      <ThemeToggle />
    </div>
    <div>
      <BackToTop />
    </div>
  </div>
</footer>
