---
import ThemeToggle from "./ThemeToggle.astro";
import BackToTop from "./BackToTop.astro";
---

<footer class="animate">
  <hr class="border-[0.5px] my-6" />
  <div class="flex justify-between">
    <div class="flex flex-wrap items-center gap-1.5">
      <ThemeToggle />
    </div>
    <div>
      <BackToTop />
    </div>
  </div>
</footer>
