---
import { NAV_LINKS, SITE } from "@siteConfig";
import Button from "@components/Button.astro";
---

<header class="flex flex-col">
  <Button
    href="/"
    variant="title"
    >{SITE.title}</Button>
  <nav>
    <ul class="flex flex-wrap list-none gap-2 p-0 flex-row">
      {
        Object.keys(NAV_LINKS).map((navItemKey) => {
          return (
            <li>
              <Button
                href={NAV_LINKS[navItemKey].path}
                variant="nav"
              >
                {NAV_LINKS[navItemKey].label}
              </Button>
            </li>
          );
        })
      }
    </ul>
  </nav>

  <hr class="animate my-6 border-[0.5px]" />
</header>
