---
import { NAV_LINKS, SITE } from "@/siteConfig.ts";
import Link from "./Link.astro";
---

<header class="flex flex-wrap justify-between items-center pb-8">
  <a
    href="/"
    class="hover:bg-purple-900 shadow-sm my-4 px-2 py-1 border rounded-md focus:ring focus:ring-purple-400 focus:ring-offset-2 font-semibold text-black text-sm hover:text-white focus:text-white dark:text-white no-underline transition-colors duration-150 focus:outline-none"
    >{SITE.title}</a
  >
  <nav>
    <ul class="flex items-center gap-2 p-0 list-none">
      {
        Object.keys(NAV_LINKS).map((navItemKey) => {
          return (
            <li>
              <Link href={NAV_LINKS[navItemKey].path}>
                {NAV_LINKS[navItemKey].label}
              </Link>
            </li>
          );
        })
      }
    </ul>
  </nav>
</header>
