---
import { NAV_LINKS, SITE } from "@/siteConfig.ts";
import Button from "./Button.astro";
---

<header class="flex flex-col mb-8">
  <a
    href="/"
    class="dark:border-white/50 bg-black/5 hover:bg-black dark:hover:bg-white focus:bg-black dark:focus:bg-white dark:bg-white/5 shadow-sm my-4 px-2 py-1 border border-black rounded focus:ring focus:ring-purple-900 dark:focus:ring-purple-900 focus:ring-offset-2 w-fit h-fit font-medium text-black text-md hover:text-white dark:hover:text-black focus:text-white dark:focus:text-black dark:text-white no-underline transition-colors duration-300 focus:outline-none size-9"
    >{SITE.title}</a
  >
  <nav>
    <ul class="flex gap-2 p-0 list-none">
      {
        Object.keys(NAV_LINKS).map((navItemKey) => {
          return (
            <li>
              <Button href={NAV_LINKS[navItemKey].path}>
                {NAV_LINKS[navItemKey].label}
              </Button>
            </li>
          );
        })
      }
    </ul>
  </nav>
</header>
