---
import { NAV_LINKS, SITE } from "@/siteConfig.ts";
import Link from "./Link.astro";
---

<header class="flex flex-col items-start pb-8">
  <a
    href="/"
    class="my-4 rounded-md border px-2 py-1 text-sm font-medium text-black no-underline shadow-sm transition-colors duration-150 hover:bg-purple-900 hover:text-white focus:text-black focus:outline-none focus:ring focus:ring-purple-900 focus:ring-offset-2 dark:text-white dark:hover:text-purple-100 dark:focus:text-purple-100 dark:focus:ring-purple-900"
    >{SITE.title}</a
  >
  <nav>
    <ul class="flex list-none gap-2 p-0">
      {
        Object.keys(NAV_LINKS).map((navItemKey) => {
          return (
            <li>
              <Link href={NAV_LINKS[navItemKey].path}>
                {NAV_LINKS[navItemKey].label}
              </Link>
            </li>
          );
        })
      }
    </ul>
  </nav>
</header>
