---
import type { CollectionEntry } from "astro:content";
import { formatDate } from "@lib/util";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
---

<li class="flex flex-col sm:flex-row sm:justify-between">
  <a href={`/blog/${post.slug}`}>
    {post.data.title}
  </a>
  <span class="text-lightModeForegroundMuted dark:text-darkModeForegroundMuted">
    {formatDate(post.data.pubDate)}
  </span>
</li>
