---
const { prevPost, nextPost } = Astro.props;
---

<div class="gap-1.5 sm:gap-3 grid grid-cols-2 mt-8 animate">
  {
    prevPost?.id ? (
      <a
        href={`/blog/${prevPost?.id}`}
        class="relative flex flex-nowrap dark:border-white/50 bg-black/5 hover:bg-black dark:hover:bg-white focus-visible:bg-black/5 dark:focus-visible:bg-white/5 dark:bg-white/5 px-4 py-3 pl-10 border border-black rounded hover:text-white dark:hover:text-black focus-visible:text-black dark:focus-visible:text-white no-underline transition-colors duration-300 ease-in-out group"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          class="top-1/2 left-2 absolute -translate-y-1/2 fill-none size-5 stroke-2 stroke-current"
        >
          <line
            x1="5"
            y1="12"
            x2="19"
            y2="12"
            class="group-hover:scale-x-100 group-focus-visible:scale-x-100 transition-transform translate-x-3 group-hover:translate-x-0 group-focus-visible:translate-x-0 duration-300 ease-in-out scale-x-0"
          />
          <polyline
            points="12 5 5 12 12 19"
            class="transition-transform translate-x-1 group-hover:translate-x-0 group-focus-visible:translate-x-0 duration-300 ease-in-out"
          />
        </svg>
        <div class="flex items-center text-sm">{prevPost?.data.title}</div>
      </a>
    ) : (
      <div class="invisible" />
    )
  }

  {
    nextPost?.id ? (
      <a
        href={`/blog/${nextPost?.id}`}
        class="relative flex flex-row-reverse flex-nowrap flex-grow dark:border-white/50 bg-black/5 hover:bg-black dark:hover:bg-white focus-visible:bg-black/5 dark:focus-visible:bg-white/5 dark:bg-white/5 px-4 py-4 pr-10 border border-black rounded hover:text-white dark:hover:text-black focus-visible:text-black dark:focus-visible:text-white no-underline transition-colors duration-300 ease-in-out group"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          class="top-1/2 right-2 absolute -translate-y-1/2 fill-none size-5 stroke-2 stroke-current"
        >
          <line
            x1="5"
            y1="12"
            x2="19"
            y2="12"
            class="group-hover:scale-x-100 group-focus-visible:scale-x-100 transition-transform translate-x-3 group-hover:translate-x-0 group-focus-visible:translate-x-0 duration-300 ease-in-out scale-x-0"
          />
          <polyline
            points="12 5 19 12 12 19"
            class="transition-transform -translate-x-1 group-hover:translate-x-0 group-focus-visible:translate-x-0 duration-300 ease-in-out"
          />
        </svg>
        <div class="flex items-center text-sm">{nextPost?.data.title}</div>
      </a>
    ) : (
      <div class="invisible" />
    )
  }
</div>
