---
import { getCollection } from "astro:content";

import BaseLayout from "@/layouts/BaseLayout.astro";

import Project from "@/components/Project.astro";
import SeoPage from "@/components/SeoPage.astro";

const projects = await getCollection("projects");
---

<BaseLayout>
  <SeoPage slot="head" title="Projects" />
  <h2 class="mb-3 font-bold text-xl animate">Projects</h2>
  <section class="animate">
    <ul class="gap-2 grid p-0 list-none">
      {projects.map((project) => <Project project={project} />)}
    </ul>
  </section>
</BaseLayout>
