---
import "@/styles/reset.css";
import "@/styles/global.css";
import "@fontsource/inter";

import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
---

<html lang="en">
  <BaseHead>
    <slot name="head" />
  </BaseHead>
  <body class="mx-auto flex min-h-screen max-w-screen-sm flex-col p-4">
    <Header />
    <slot />
  </body>
</html>
