---
import "@/styles/reset.css";
import "@/styles/global.css";

import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";
---

<html lang="en">
  <BaseHead>
    <slot name="head" />
  </BaseHead>
  <body class="mx-auto p-4 max-sm:p-4 max-w-screen-sm min-h-screen font-sans">
    <Header />
    <slot />
  </body>
</html>
